configuration {
    modi: "window";
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-window: "window:";
    fullscreen: false;
}

@import "~/.config/rofi/config.rasi"

window {
    background-color: @background;
    border:           2px solid;
    border-radius:    12px;
    border-color:     @border-color;
    padding:          12px;
    width:            600px;
}

mainbox {
    padding: 0;
    spacing: 8px;
}

inputbar {
    margin: 0 0 8px 0;
    padding: 10px 14px;
    background-color: @background-alt;
    text-color: @foreground;
    border: 1px solid;
    border-radius: 8px;
    border-color: @separatorcolor;
}

listview {
    padding: 4px 0;
    spacing: 4px;
    scrollbar: true;
    fixed-height: false;
}

element {
    padding: 8px 12px;
    border: 1px solid;
    border-color: transparent;
    border-radius: 8px;
    background-color: transparent;
    text-color: #eeeeee;
}

element-icon {
    size: 24px;
    margin: 0 10px 0 0;
}

element-text {
    background-color: transparent;
    text-color: inherit;
}

element selected {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
    border-color: @selected-border;
}

